<h1>Editing password</h1>

<% form_for(@password) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @password %> |
<%= link_to 'Back', passwords_path %>
